<div class="login-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required [(ngModel)]="username">
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
      </div>
  
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  